<template>

  <section class="antialiased bg-gray-100 text-gray-600 py-4">
    <div class="flex flex-col justify-center h-full">
      <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">

        <header class="px-5 py-4 border-b border-gray-100">
          <div class="font-semibold text-gray-800">Manage Carts</div>
        </header>

        <div class="overflow-x-auto p-3">
          <table class="table-auto w-full cars-table">
            <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
            <tr>
              <th class="p-2">
                <div class="font-semibold text-center">Product Name</div>
              </th>
              <th class="p-2">
                <div class="font-semibold text-center">Total</div>
              </th>
            </tr>
            </thead>

            <tbody class="text-sm divide-y divide-gray-100">
            <tr>
              <td class="p-2">
                <div class="font-medium text-gray-800">Samsung Galaxy Note 4</div>
              </td>
              <td class="p-2">
                <div class="text-center font-medium text-green-500">RM 2,890.66</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </section>

</template>

<script>
export default {
  name: "CardList"
}
</script>

<style scoped>

</style>