<template>
  <div class="container-fluid mx-auto"><div class="flex flex-col" style="padding:10px" >
      <div class="w-full"><div class="border-b border-gray-200 shadow">

          <header class="px-5 py-4 border-b border-gray-100 flex">
            <div class="font-semibold text-gray-800 text-left">Таблица автомобилей</div>
          </header>

          <CarsDataRender
              :table_data="[]"
              :headers="headers" >

              <template v-slot:table-header>
                   <div class="flex">

                       <div v-if="itemsCount"
                            style="margin-left: 4px; font-style: italic; font-size: 12px; border-right: 1px gainsboro solid; padding:3px;">
                            Кол. записей: {{itemsCount}}</div>

                     <div style="margin-left: 4px; font-style: italic; font-size: 12px; border-right: 1px gainsboro solid; padding:3px; ">
                          № страницы : {{getPageNum}}</div>

                     <div style="margin-left: 4px; font-style: italic; font-size: 12px; border-right: 1px gainsboro solid; padding:3px">
                          Лимит записей на странице : {{getPageLimit}}</div>

                     <div style="margin-left: 4px; font-style: italic; font-size: 12px; border-right: 1px gainsboro solid; padding:3px">
                         Количество страниц : {{getPagesCount}}</div>


                     <div style="font-size: 12px; margin-left: auto">
                       <!--        <div>Выбрать кол. страниц</div>-->
                       <select @change ="selectPageLimit($event)" style="cursor: pointer">
                           <option value=10 >10</option>
                           <option value=20 >20</option>
                           <option value=30 >30</option>
                           <option value=50 >50</option>

                           <option value=100 >100</option>
                           <option value=200 >200</option>
                           <option value=300 >300</option>
                           <option value=500 >500</option>
                           <option value=1000 >1000</option>
                       </select>
                     </div>

                   </div>
              </template>

              <template v-slot:table-footer>
                 <CarsPaginate />
              </template>

          </CarsDataRender>

</div></div></div></div>

</template>

<script>

import {mapState, mapGetters, mapMutations, mapActions } from "vuex";

import CarsDataRender from "@/components/cars/CarsDataRender";
import CarsPaginate from "@/components/cars/CarsPaginate";
// import Debug from "@/components/Debug";

export default {
  name: "CarsSearch",

  data() {
    return {
      headers : {},
    }
  },

  created() {
    this.headers = this.setHeaders();
  },

  components: {
    CarsDataRender,
    CarsPaginate,
    // Debug,
  },

  computed: {
    ...mapState(['itemsCount']),
    ...mapGetters(['getPageLimit', 'getPageNum', 'getPagesCount']),
  },

  methods: {

    ...mapMutations(['setPageLimit']),
    ...mapActions(['fetchFiltersData']),

    // Первичная выборка данных
    // getCarsData() {
    //   let limit = this.pageLimit;
    //   let url = '/cars/table-info/' + limit;
    //   this.httpGet(url, this.responseInfo);
    // },

    selectPageLimit(event) {
      let limit = event.target.value;
      this.setPageLimit(limit);
      this.fetchFiltersData(); // получаем данные по фильтрам
    },

    setHeaders() {

      const headers = {

        "id": 'Лот Id',
        "acc_id": 'Seller Id',
        "vin": "Vin",
        "status": "Статус",

        "city_name": 'Город',
        "mark_name": "Марка",
        "model_name": "Модель",
        "gen_name": 'Поколение',
        "mod_name": 'Модификация',
        "cmpName": 'Seller name',
        "cmpForm": 'Seller rg',

        "category": 'Категория',
        "date_start": "Старт",
        "date_end": "Финиш",
        "city": 'Город',
        "l_type": 'Тип торгов',

        // "start_price": 'Цена старт',
        // "price_step": 'Шаг ставки',
        // "price_now": 'Цена now',
        // "price_min": 'Цена мин.',
        // "nds":'НДС',

        // "body": "Кузов",
        // "year": 'Год',
        // "mileage": 'Пробег',
        // "engine": "Тип двиг.",
        // "engine_vol": "Объем двиг.",
        // "power": "Мощность",
        // "gearbox": "Коробка",
        // "color": "Цвет",
        // "key_qty": 'Кол.ключей',
        // "reg_plate": "Рег.номер",
        // "drive": "Привод",
        // "description": "Описание",
        // "pts": "ПТС",
        // "pts_no": "№ ПТС",
        // "sts_no": "№ СТС",

        //"serv_book": "string",
        // "ascdesc": 'int',
        // "num": 'num',


        // "comments": "Комментарий",
        // "view_place": "Салон",
        // "dkp": "ДКП",

        // "admin_comment": 'Комментарии админа',
        // "view_descr": 'view_descr',
        // "pay_block": 'pay_block',
        // "comission": 'comission',
        // "owners_count": 'owners_count',
        // "auto_complectation": 'auto_complectation',
        // "round_id": 'round_id',
        // "classified_status": 'classified_status',
        // "freedelivery_status": 'freedelivery_status',
        // "video": 'Видео',
        // "car_class_code": "Класс авто",
        // "created_dt": "created_dt",
        // "fid_load_type": 'fid_load_type',

        //"mark": 'Марка Id',
        //"model": 'Модель Id',
        //"generation": 'Поколение Id',
        //"modification": 'Модификация Id',
        // "self_modification": "Своя модификация",

      }

      return headers;
    },

  },
}
</script>

<style scoped>

</style>