<template>

  <div>
    <h1>Main page</h1>
<!--    <Modal />-->
<!--    <CardList />-->
<!--    <EventListShow />-->
<!--    <PageTemplate />-->
<!--    <DarkTable />-->
  </div>

</template>

<script>

import EventListShow from "@/components/template/EventListShow";
import PageTemplate  from "@/components/template/PageTemplate";
import CardList  from "@/components/template/CardList";
import DarkTable  from "@/components/template/DarkTable";
import Modal  from "@/components/template/Modal";

export default {
  name: "MainPage",
  components: {
    PageTemplate,
    EventListShow,
    CardList,
    DarkTable,
    Modal,
  }
}
</script>

<style scoped>

</style>