<template>
<div class="app bg-gray-80">
    <main class="grid grid-cols-1 lg:grid-cols-2 gap-6 my-12 mx-12 w-2xl container px-2 mx-auto">

      <Postman />

    </main>
</div>
</template>

<script>
import Postman from "@/components/Postman";
export default {
  name: "TestPage",

  components: {
    Postman,
  },

}
</script>

<style scoped>

</style>