@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {

    .my-custom-btn-1 {
        @apply py-2 px-4 text-xs font-medium text-gray-900 bg-white  border border-gray-200 focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2
               focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700;
    }

    .my-custom-input-text {
        @apply h-8 outline-none border-solid border-2 border-gray-200 px-1
    }
}