<template>

  <header class="px-5 py-4 border-b border-gray-100 flex justify-between">
    <!---- Поиск по всем полям --->
    <div>
      <label for="table-search-inp-text" class="sr-only">Search</label>
      <div class="relative mt-1">
        <div class="absolute inset-y-0 flex items-center pl-3">
          <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                  clip-rule="evenodd"></path>
          </svg>
        </div>
        <input @input="setSearchValue($event)" id="table-search-inp-text" placeholder="Поиск по всем полям таблицы"
               type="text"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm outline-none block w-80 pl-10 p-2.5 table-search-inp-text">
      </div>
    </div>
    <!---- Поиск по всем полям      ---->

    <div style="position: absolute; margin-left: 400px; margin-top: 0px">
      <Preloader message="Загрузка данных"/>
    </div>

    <!---- Кнопка 'Сбросить фильтры' --->
    <button @click="clearFilterList()" class="my-custom-btn-1" type="button">
      Сбросить фильтры
    </button>

  </header>

  <!----- ТАБЛИЦА ----->
  <div class="w-full overflow-x-auto p-3" style="min-height: 700px">

    <slot name="table-header"></slot>

    <table class="table-auto w-full cars-info-table">
      <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
      <tr>
        <th v-for="(title, name) in getHeaders" class="p-2">
          <div class="flex">
            <div class="font-semibold text-center"
                 style="padding-top: 10px;width: 90%">{{ title }}
            </div>
            <!--- Сортировка по столбцу   --->
            <div>
              <svg @click="setOrderBy(name, 'ASC', $event)" xmlns="http://www.w3.org/2000/svg"
                   class="h-5 w-5 hover:bg-white cursor-pointer my-arroy-sort border-dashed  border-0"
                   viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                      clip-rule="evenodd"/>
              </svg>

              <svg @click="setOrderBy(name, 'DESC', $event)" xmlns="http://www.w3.org/2000/svg"
                   class="h-5 w-5 hover:bg-white cursor-pointer my-arroy-sort border-dashed  border-0"
                   viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"/>
              </svg>
            </div>
            <!--- ./ Сортировка по столбцу --->
          </div>
        </th>
      </tr>
      </thead>

      <tbody class="text-sm divide-y divide-gray-100">
      <tr>
        <td v-for="(title, name) in getHeaders" class="px-0 py-0">
          <div class="text-sm text-gray-900">
            <!--- Поиск по столбцу --->
            <div class="w-full py-1">
              <input @input="setLikeFilter($event, name)" class="my-custom-input-text inp-field-search"
                     :placeholder="'...' + title" style="width: 90%; font-size: 11px;" type="text">
            </div>
            <!--- ./ Поиск по столбцу --->

            <!--- Фильтрация --->
            <OnlyFilterList
                :field_name="name"
                :clear_filter="clearFlag"
                @send_only_filter="setOnlyFilter"/>
            <!--- ./ Фильтрация --->
          </div>
        </td>
      </tr>

      <!--- Данные таблицы --->
      <tr v-for="(item) in getDataList">
        <td v-for="(title, name) in getHeaders"  class="p-0">
          <div v-if="item[name]" class="font-medium text-gray-800"
               style="font-size: 11px" v-html="item[name]"></div>
        </td>
      </tr>
      <!--- ./ Данные таблицы --->
      </tbody>

    </table>

    <slot name="table-footer"></slot>

  </div>
  <!--- ./ ТАБЛИЦА --->

</template>

<script>

import {mapActions, mapMutations, mapGetters} from "vuex";

import OnlyFilterList from "@/components/cars/OnlyFilterList";
import Preloader from "@/components/Preloader";

export default {
  name: "CarsDataRender",
  props: ['table_data', 'headers'],

  data() {
    return {
      clearFlag: false,
      searchValue: '',
    }
  },

  computed: {

    ...mapGetters(['getCarsList']),

    getDataList() {
        let search = this.searchValue;
        let data   = this.getCarsList;
        if (!search) return data;
        return this.searchIndexOf(data, search);
    },

    getHeaders() {
        return this.headers;
    },

  },

  components: {
    OnlyFilterList,
    Preloader,
  },

  created() {
    this.fetchFiltersData(); // получаем начальные данные
  },

  methods: {

    ...mapActions(['fetchFiltersData']),
    ...mapMutations(['setFilters', 'clearFilters', 'setPageLimit']),

    // Поиск по всем полям
    setSearchValue(event) {
      let data = event.target.value;
      this.searchValue = data;
      let param = {type: 'search', data, field: ''};
      this.actionSetFilters(param);
    },

    // Поиск по столбцу таблицы
    setLikeFilter(event, field) {
      let data = event.target.value;
      let param = {type: 'like', field, data}
      this.actionSetFilters(param);
    },

    // Фильтрация
    setOnlyFilter(response) {
      this.actionSetFilters(response);
    },

    // Сортировка по столбцам
    setOrderBy(field, data, event) {
      let _class = '.my-arroy-sort';
      this.htmlElemsRender(_class, elem => {
        elem.classList.remove('border-2');
        elem.classList.add('border-0');
      });
      event.target.classList.remove('border-0')
      event.target.classList.add('border-2')
      let param = {field, data, type: 'order_by'}
      this.actionSetFilters(param);
    },

    actionSetFilters(param) {
      this.setFilters(param);  // формируем фильтры
      this.fetchFiltersData(); // получаем данные по фильтрам
    },

    clearFilterList() {
      this.clearFlag = true;
      this.htmlElemsRender('.table-search-inp-text', elem => elem.value = '');
      this.htmlElemsRender('.inp-field-search', elem => elem.value = '');
      this.clearFilters(); // очищаем фильтры
      this.fetchFiltersData(); // получаем данные по фильтрам
    },

    selectPageLimit(event) {
       let limit = event.target.value;
       this.setPageLimit(limit);
       this.fetchFiltersData(); // получаем данные по фильтрам
    },

    searchIndexOf(data, searchValue) {
      searchValue = searchValue.toLowerCase();
      for (let i in data) {
        let row = data[i];
        for (let fname in row) {
          if (fname == 'autoteka' || (!row[fname])) continue;
          let value = row[fname] + '';
          value = value.toLowerCase();
          let strNum = value.indexOf(searchValue);
          if (strNum == -1) continue;
          value = '<span style="color:cornflowerblue" >' + row[fname] + '</span>';
          data[i][fname] = value;
        }
      }
      return data;
    }

  },

}
</script>

<style scoped>
  .cars-info-table {
    width: 100%;
  }

  .cars-info-table th {
    vertical-align: top !important;
  }

  .cars-info-table td, .cars-info-table th {
    border: 1px gainsboro solid;
  }

  .my-custom-btn-1 {
    width: 150px;
    margin: 5px 0 0 25px;
    height: 42px;
  }

  .search-value-line {
    color: red;
  }
</style>
