<template>
<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">

    <div class="flex-1 flex justify-between sm:hidden">
      <a href="#" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Previous </a>
      <a href="#" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        Next </a>
    </div>

    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">

<!--      <div><p class="text-sm text-gray-700"> Showing-->
<!--          <span class="font-medium">1</span>to-->
<!--          <span class="font-medium">10</span>of-->
<!--          <span class="font-medium">{{itemsCount}}</span>results-->
<!--      </p></div>-->

      <!--  <a href="#" class="active-page-button">1</a>-->

      <div class="paginate-container" ><nav class="paginate-nav" >
          <!--- Первая страница --->
          <a  @click="pagePaginate(1)"
             class="relative inline-flex items-center px-2 py-2 rounded-l-md bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              First page
          </a>

          <template v-for="(page) in paginateRender.start">
              <template v-if="page == getPageNum">
                  <span class="page-button custom-page-active" > [ {{page}} ]</span>
              </template>
              <template v-else-if="page == 'sep'" >
                <span class="page-button custom-page-item" > ... </span>
              </template>
              <template v-else >
                   <a  @click="pagePaginate(page, $event)" class="page-button custom-page-item">[ {{page}} ]</a>
              </template>
          </template>

          <span class="page-button custom-page-item" > {{paginateRender.separate}} </span>

          <template v-for="(page) in paginateRender.next">
            <template v-if="page != getPageNum">
              <a  @click="pagePaginate(page, $event)" class="page-button custom-page-item">[ {{page}} ]</a>
            </template>
            <template v-else >
              <span class="page-button custom-page-active" > [ {{page}} ]</span>
            </template>
          </template>

          <!--- Последняя страница --->
          <a  @click="pagePaginate(getPagesCount)"
              class="relative inline-flex items-center px-2 py-2 rounded-r-md bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              End page
          </a>

      </nav></div>

    </div>

</div>
</template>

<script>

import {mapState, mapGetters, mapActions, mapMutations} from "vuex";

export default {
  name: "CarsPaginate",
  data() {
     return {
        paginateList: {},
        startPageNum : 1,
        lastPageNum  : 0,
     }
  },
  computed: {
    ...mapState(['itemsCount']),
    ...mapGetters(['getPageLimit', 'getPageNum', 'getPagesCount']),

    paginateRender() {
      return this.paginateFormat()
    },

    getEndPage() {
       return this.endPageNum;
    },
  },

  methods: {

      ...mapMutations(['setPageNum']),
      ...mapActions(['fetchFiltersData']),

      paginateFormat() {

        let startList = [], nextList = [];

        let startPageNum = this.startPageNum;      // первая страница
        let pagesCount   = this.getPagesCount;     // количество страниц
        this.lastPageNum  = pagesCount;            // № последней страницы
        let preLastNum     = this.lastPageNum - 1; // № предпоследней страницы
        let currentPageNum = this.getPageNum;      // № текущей страницы
        let perPage = 8;                           // количество показа страниц

        switch (currentPageNum) {
           case  1 : case  2 : case  3 : case  4 : case  5 : case  6 :
                for (let i = 0; i < perPage; i++) {
                   startList.push(startPageNum);
                   startPageNum++;

                   if(i < 3 ) {
                     nextList.push(preLastNum);
                     preLastNum--;
                   }
                }
                break;

           default :

               let left  = currentPageNum;
               let right = currentPageNum;

               startList.push(startPageNum);
               startList.push('sep');

               let _start = [];
               for (let i = 0; i < 3; i++) {
                 left--;
                 _start.push(left);
               }

               startList = startList.concat(_start.sort());
               startList.push(currentPageNum);

               for (let i = 0; i < 3; i++) {
                 if((right + 1) < this.lastPageNum) {
                   // console.log(right, this.lastPageNum)
                   right++;
                   startList.push(right);
                 }
               }

               if(currentPageNum != preLastNum)
                 nextList.push(preLastNum);

               break;
        }


        nextList = nextList.sort();

        let paginate = {};
        paginate['start'] = startList;
        paginate['separate'] = '...';
        paginate['next']   = nextList;

        this.paginateList = paginate;
        return this.paginateList;

      },

      pagePaginate(page) {
         this.setPageNum(page);
         this.fetchFiltersData();
         // alert(page);
      },

  }
}
</script>

<style scoped>
   .active-page-button {
     @apply z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium
   }

   .page-button {
      @apply bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex relative items-center px-4 py-2 border text-sm font-medium
   }

   .paginate-nav {
     @apply relative z-0 inline-flex rounded-md -space-x-px
   }

   .custom-page-item {
     border: 0px grey solid;
     color:black;
     cursor:pointer;
     font-size: 13px;
   }

   .custom-page-active {
      color:gainsboro;
      border: 0px grey solid;
   }
</style>