<template>
  <div>

    <div class="bg-gray-50" style="border: 1px gainsboro solid; padding:2px;">
      <svg @click="getFieldDataOnly()" style="cursor:pointer; border: 1px gainsboro solid; color: grey;"
           xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
      </svg>
    </div>

    <div v-if="modalStatus"
         class="container mx-auto shadow-lg bg-white only-filter-box"
         style="padding:2px; position: absolute; width: 300px; z-index: 99" >
         <div class="w-full px-0 py-2">
          <input @input="searchFieldValueEvent()" v-model="searchFieldValue"
                 placeholder="поиск ... " type="text" style="width: 90%"
                 class="h-8 outline-none border-solid border-2 border-gray-200 px-1"  >
         </div>

         <div class="flex justify-between mt-2">
            <button @click="listCheckedEvent(true)" type="button" style="width: 45%" class="my-custom-btn-1" >
                 <span class="copy-text"> Отметить все</span>
            </button>

            <button @click="listCheckedEvent(false)" type="button" style="width: 45%" class="my-custom-btn-1" >
                <span class="copy-text"> Снять все </span>
            </button>
         </div>

         <div class="flex justify-between mt-2 border-dashed border-t-2 border-indigo-600" style="padding: 4px;">
          <button @click="sendOnlyFilter()" type="button" style="width: 45%" class="my-custom-btn-1" >
            <span class="copy-text"> Выбрать </span>
          </button>
         </div>

        <div class="w-full py-0 px-2"
             style="height: 400px; overflow-y:scroll; margin-top:10px;">

             <div class="" style="border: 0.5px gainsboro solid" >
               <table class="table-auto w-full"><tbody class="text-sm divide-y divide-gray-100">
                 <template v-for="(item, key) in dataList" >
                   <tr v-if="item[getFieldName]" >
                       <td class="p-0"><input v-model="item.state" :value="'state-' +key" type="checkbox" class="w-4 h-4" ></td>
                       <td class="p-1"><div class="font-small text-gray-800" style="text-align: left; font-size: 11px">{{item[getFieldName]}}</div></td>
                   </tr>
                 </template>
               </tbody></table>
             </div>

        </div>

    </div>

  </div>
</template>

<script>

export default {
  name: "OnlyFilterList",
  props: ['field_name', 'clear_filter'],

  data() {
    return {
      dataList: [],
      modalStatus: false,
      loadStatus: false,
      searchFieldValue: '',
    }
  },

  computed: {
    getFieldName() {
       return this.field_name;
    },

    clearFilter() {
      return this.clear_filter;
    }
  },

  methods: {

    getFieldDataOnly() {

        this.htmlElemsRender('.only-filter-box', elem => elem.style.display = 'none');

        this.modalStatus = (this.modalStatus) ? false : true;
        if (this.loadStatus) return false;
        let fieldName = this.getFieldName;
        let url = '/cars/field-data-list-filter/' + fieldName + '/0';
        this.httpGet(url, (response) => {
            let resp = response[this.resultName];
            let list = [];
            for(let i in resp) {
                let item = resp[i];
                let value = item[fieldName];
                if(!value) continue;
                item['state'] = true;
                list.push(item);
            }
            this.dataList    = list
            this.modalStatus = true;
            this.loadStatus  = true;
        });
    },

    listCheckedEvent(state) {
        for(let i in this.dataList) {
          this.dataList[i]['state'] = state;
        }
    },

    sendOnlyFilter() {
        let data = [];
        let field = this.getFieldName;
        for(let i in this.dataList) {
          let item = this.dataList[i];
          if(item['state']) data.push(item[field]);
        }
        this.modalStatus = false;
        let param = { type: 'only', field, data };
        this.$emit('send_only_filter', param);
    },

    searchFieldValueEvent() {
        let fieldName = this.getFieldName;
        let searchValue = (this.searchFieldValue) ? this.searchFieldValue : 0;
        let url = '/cars/field-data-list-filter/' + fieldName + '/' + searchValue;
        this.httpGet(url, (response) => {
          let resp = response.data;
          let list = [];
          for(let i in resp) {
            let item = resp[i];
            let value = item[fieldName];
            if(!value) continue;
            item['state'] = true;
            list.push(item);
          }
          this.dataList    = list
          this.modalStatus = true;
          this.loadStatus  = true;
        });
    },

  },
}
</script>

<style scoped>

</style>
