<template>
<pre style="font-size:11px; text-align: left" >
  {{getData}}
</pre>
</template>

<script>
export default {
  name: "Debug",
  props:['data'],
  computed: {
     getData() {
       return this.data;
     }
  }
}
</script>

<style scoped>

</style>