<template>

  <div class="bg-white shadow rounded-lg mb-6 p-4" >

    <input v-model="sendUrl" name="url" placeholder="Url" type="text"
           class="w-full rounded-sm p-2 text-sm bg-gray-100 border border-transparent appearance-none outline-none placeholder-gray-400" />

    <button  @click="sendGet" class="flex items-center py-2 px-4 rounded-sm text-sm bg-blue-600 text-white shadow-lg mt-2 mb-4">Get
      <svg class="ml-1" viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
    </button>

    <textarea v-model="formJson" name="message" placeholder="Json" style="height: 160px"
              class="w-full rounded-sm p-2 text-sm bg-gray-100 border border-transparent appearance-none outline-none placeholder-gray-400" ></textarea>

    <footer class="flex justify-between mt-2">

      <!---
      <div class="flex gap-2">
              <span class="flex items-center transition ease-out duration-300 hover:bg-blue-500 hover:text-white bg-blue-100 w-8 h-8 px-2 rounded-full text-blue-400 cursor-pointer">
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
              </span>
              <span class="flex items-center transition ease-out duration-300 hover:bg-blue-500 hover:text-white bg-blue-100 w-8 h-8 px-2 rounded-full text-blue-400 cursor-pointer">
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
              </span>
              <span class="flex items-center transition ease-out duration-300 hover:bg-blue-500 hover:text-white bg-blue-100 w-8 h-8 px-2 rounded-full text-blue-400 cursor-pointer">
                  <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="4 17 10 11 4 5"></polyline><line x1="12" y1="19" x2="20" y2="19"></line></svg>
              </span>
      </div>
      ---->

      <button @click="sendPost" class="flex items-center py-2 px-4 rounded-sm text-sm bg-blue-600 text-white shadow-lg mt-2">Post
        <svg class="ml-1" viewBox="0 0 24 24" width="16" height="16" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
      </button>

      <button @click="clearData"
              class="flex items-center py-2 px-4 rounded-sm text-sm bg-blue-600 text-white shadow-lg mt-2">Очистить данные</button>

    </footer>
    <hr class="mt-2 mb-2"/>
    <pre style="text-align: left;font-size: 10px">{{postData}}</pre>
  </div>


  <div class="bg-white shadow rounded-lg mb-6 p-4" >

    <div style="text-align: left; font-size: 11px">ResponseCount: {{responseData.length}}</div>
    <div>
      <pre style="text-align: left; font-size: 11px">ResponseData:{{responseData}}</pre>
    </div>

  </div>

  <!--
  <div class="p-5">
      <button type="button" class="flex items-center rounded-lg bg-indigo-500 px-4 py-2 text-white" disabled>
          <svg class="-ml-1 mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
             <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
             <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          <span class="font-medium subpixel-antialiased">Processing...</span>
      </button>
  </div>
  --->

</template>

<script>
export default {
  name: "Postman",
  data() {
    return {
      sendUrl : 'http://dzion.ru/cars/table-info-filters/15',
      formJson: `{ "like":{"acc_id":"6"},
                   "only":{"city":[2130,2287]},
                   "search": "For",
                   order_by: {}
                 }`,
      postData: [],
      responseData: [],
    }
  },

  methods: {
      sendPost() {
         if(!this.sendUrl) { alert('Пустой адрес'); return false; }
         const api = this.apiUrl
         this.apiUrl = this.sendUrl;
         this.postData = this.fromStringToObject(this.formJson);
         this.httpPost('',  this.postData, (response) => {
            this.apiUrl = api;
            this.responseData = response.data;
         });
      },

      sendGet() {
        const api = this.apiUrl
        if(!this.sendUrl) { alert('Пустой адрес'); return false; }
        this.apiUrl = this.sendUrl;
        this.httpGet('', (response) => {
           this.apiUrl = api;
           this.responseData = response.data;
        });
      },

      fromStringToObject(strValue) {
          return eval("(" + strValue + ")");
      },

      clearData() {
        this.responseData = [];
        this.postData = [];
      },
  },
}
</script>

<style scoped>

</style>