<template>
  <div v-if="preloaderStatus" >
    <div class="flex items-center justify-center space-x-2">
      <div class="spinner-border animate-spin inline-block w-12 h-12 border-4 rounded-full" role="status">
        <span class="visually-hidden">...</span>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
export default {
  props:['message'],
  name: "Preloader",
  computed: {
    ...mapState(['preloaderStatus', 'preloaderText']),
    getMessage() {
       if(this.message) return this.message;
       return this.preloaderText;
    },
  },
}
</script>

<style scoped>

</style>